.SideBar {
  position: fixed;
  width: 0%;
  font-weight: 400;
  background: #213D8B;
  color: #fff;
  text-align: center;
}

.SideBar .logo-area {
  background-color: #F4F4F4;
  margin-bottom: 1rem;
}

.SideBar .logo-area .logo {
  padding: 1rem;
  width: 100%; 
}

.SideBar a{
  display:block; 
  height:100%;
  text-decoration: none;
}
